<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<head>
    <title>Cowin Vaccine Availability Speaker</title>
    <style>
        .context {
            margin: auto;
            width: 18%;
            border: 3px solid black;
            padding: 22px;
            border-radius: 14px;
        }
        #logo {
            padding-left: inherit;
            margin-left: 24px;
        }
    </style>
</head>
<body style="background-color:#ff9800;">
<br>
<div class="Context">
<div class="inner-context">
<div id = "logo">
    <img src="https://ph-files.imgix.net/209d88f3-0eb3-4e93-a928-e52d437077e2.png?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=100&h=100&fit=crop&dpr=2" style="border-radius: 11px;">
</div>
<h2>Register a new pin-code</h2>
<form action="registerPin" method="post">
    <h3>Select Vaccine Type</h3>
    <input type="radio" id="anyVaccinePin" name="vaccineType" value="" checked> <label for="vaccineType">Doesn't matter</label><br>
    <input type="radio" id="covaxinPin" name="vaccineType" value="COVAXIN"> <label for="vaccineType">COVAXIN</label><br>
    <input type="radio" id="covishieldPin" name="vaccineType" value="COVISHIELD"> <label for="vaccineType">COVISHIELD</label><br>
    <input type="radio" id="sputnikPin" name="vaccineType" value="SPUTNIK V"> <label for="vaccineType">SPUTNIK V</label><br>
    <br>
    <table>
        <tr>
            <td><label for="pinCode">Pin Code</label></td>
            <td><input type="text" name="pinCode" required></input></td>
        </tr>
        <tr>
            <h3>Select Age</h3>
            <input type="radio" id="covaxinAge18" name="age" value="18"> <label for="age">18+</label><br>
            <input type="radio" id="covaxinAge45" name="age" value="18"> <label for="age">45+</label><br>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></input></td>
        </tr>
    </table>
</form>

<br>
<h2>Register a new district</h2>
<form action="registerDistrict" method="post">
    <h3>Select Vaccine Type</h3>
    <input type="radio" id="anyVaccinePin" name="vaccineType" value="" checked> <label for="vaccineType">Doesn't matter</label><br>
    <input type="radio" id="covaxinDistrict" name="vaccineType" value="COVAXIN"> <label for="vaccineType">COVAXIN</label><br>
    <input type="radio" id="covishieldDistrict" name="vaccineType" value="COVISHIELD"> <label for="vaccineType">COVISHIELD</label><br>
    <input type="radio" id="sputnikDistrict" name="vaccineType" value="SPUTNIK V"> <label for="vaccineType">SPUTNIK V</label><br>
    <br>
    <table>
        <tr>
            <td><label for="district">District</label></td>
            <td><input type="text" name="district" required></input></td>
        </tr>
        <tr>
            <h3>Select Age</h3>
            <input type="radio" id="covishieldAge18" name="age" value="18"> <label for="age">18+</label><br>
            <input type="radio" id="covishieldAge45" name="age" value="45"> <label for="age">45+</label><br>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></input></td>
        </tr>
    </table>
</form>
</div>
</div>
</body>
</html>