<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<head>
    <title>Cowin Vaccine Availability Speaker</title>
</head>
<body style="background-color:#ff9800;">
<br>
<img src="https://ph-files.imgix.net/209d88f3-0eb3-4e93-a928-e52d437077e2.png?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=100&h=100&fit=crop&dpr=2" style="border-radius: 11px;">
<h2>Register a new pin-code</h2>
<form action="registerPin" method="post">
    <table>
        <tr>
            <td><label for="pinCode">Pin Code</label></td>
            <td><input type="text" name="pinCode" required></input></td>
        </tr>
        <tr>
            <td><label for="age">Age</label></td>
            <td><input type="text" name="age" required></input></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></input></td>
        </tr>
    </table>
</form>

<br>
<h2>Register a new district</h2>
<form action="registerDistrict" method="post">
    <table>
        <tr>
            <td><label for="district">District</label></td>
            <td><input type="text" name="district" required></input></td>
        </tr>
        <tr>
            <td><label for="age">Age</label></td>
            <td><input type="text" name="age" required></input></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></input></td>
        </tr>
    </table>
</form>
</body>
</html>